/* https://github.com/yeun/open-color */
@import "open-color.css";

.theme-dark {
    color-scheme: dark;
    --background-dark: var(--oc-gray-9);
    --background-light: var(--oc-gray-8);
    --text-primary: var(--oc-gray-4);
    --text-secondary: var(--oc-gray-9);
    --border-primary: #858585;
    --border-secondary: #696969;
    --icon-information: #0085f2;
    --icon-warning: #afa100;
    --icon-critical: #ff707f;
    --icon-success: #00b755;
    --red-dark: var(--oc-red-7);
    --red-medium: var(--oc-red-5);
    --red-light: var(--oc-red-3);
    --green-dark: var(--oc-green-7);
    --green-medium: var(--oc-green-5);
    --green-light: var(--oc-green-3);
    --blue-dark: var(--oc-blue-7);
    --blue-medium: var(--oc-blue-5);
    --blue-light: var(--oc-blue-3);
    --gray-dark: var(--oc-gray-7);
    --gray-medium: var(--oc-gray-5);
    --gray-light: var(--oc-gray-3);
    --pink-dark: var(--oc-pink-7);
    --pink-medium: var(--oc-pink-5);
    --pink-light: var(--oc-pink-3);
    --grape-dark: var(--oc-grape-7);
    --grape-medium: var(--oc-grape-5);
    --grape-light: var(--oc-grape-3);
    --violet-dark: var(--oc-violet-7);
    --violet-medium: var(--oc-violet-5);
    --violet-light: var(--oc-violet-3);
    --indigo-dark: var(--oc-indigo-7);
    --indigo-medium: var(--oc-indigo-5);
    --indigo-light: var(--oc-indigo-3);
    --cyan-dark: var(--oc-cyan-7);
    --cyan-medium: var(--oc-cyan-5);
    --cyan-light: var(--oc-cyan-3);
    --teal-dark: var(--oc-teal-7);
    --teal-medium: var(--oc-teal-5);
    --teal-light: var(--oc-teal-3);
    --lime-dark: var(--oc-lime-7);
    --lime-medium: var(--oc-lime-5);
    --lime-light: var(--oc-lime-3);
    --yellow-dark: var(--oc-yellow-7);
    --yellow-medium: var(--oc-yellow-5);
    --yellow-light: var(--oc-yellow-3);
    --orange-dark: var(--oc-orange-7);
    --orange-medium: var(--oc-orange-5);
    --orange-light: var(--oc-orange-3);
}

.theme-light {
    color-scheme: light;
    --background-dark: var(--oc-gray-4);
    --background-light: var(--oc-gray-3);
    --text-primary: var(--oc-gray-9);
    --text-secondary: var(--oc-gray-9);
    --border-primary: #cdcdcd;
    --border-secondary: #cdcdcd;
    --icon-information: #5e9eff;
    --icon-warning: #ff2a51;
    --icon-critical: #d30038;
    --icon-success: #007936;
    --red-dark: var(--oc-red-9);
    --red-medium: var(--oc-red-7);
    --red-light: var(--oc-red-5);
    --green-dark: var(--oc-green-9);
    --green-medium: var(--oc-green-7);
    --green-light: var(--oc-green-5);
    --blue-dark: var(--oc-blue-9);
    --blue-medium: var(--oc-blue-7);
    --blue-light: var(--oc-blue-5);
    --gray-dark: var(--oc-gray-8);
    --gray-medium: var(--oc-gray-6);
    --gray-light: var(--oc-gray-4);
    --pink-dark: var(--oc-pink-8);
    --pink-medium: var(--oc-pink-6);
    --pink-light: var(--oc-pink-4);
    --grape-dark: var(--oc-grape-8);
    --grape-medium: var(--oc-grape-6);
    --grape-light: var(--oc-grape-4);
    --violet-dark: var(--oc-violet-8);
    --violet-medium: var(--oc-violet-6);
    --violet-light: var(--oc-violet-4);
    --indigo-dark: var(--oc-indigo-8);
    --indigo-medium: var(--oc-indigo-6);
    --indigo-light: var(--oc-indigo-4);
    --cyan-dark: var(--oc-cyan-8);
    --cyan-medium: var(--oc-cyan-6);
    --cyan-light: var(--oc-cyan-4);
    --teal-dark: var(--oc-teal-8);
    --teal-medium: var(--oc-teal-6);
    --teal-light: var(--oc-teal-4);
    --lime-dark: var(--oc-lime-8);
    --lime-medium: var(--oc-lime-6);
    --lime-light: var(--oc-lime-4);
    --yellow-dark: var(--oc-yellow-8);
    --yellow-medium: var(--oc-yellow-6);
    --yellow-light: var(--oc-yellow-4);
    --orange-dark: var(--oc-orange-8);
    --orange-medium: var(--oc-orange-6);
    --orange-light: var(--oc-orange-4);
}

@media print {
    @page {
        margin: 0;
    }

    table {
        margin: 1.6cm;
    }
}

html,
body {
    background-color: var(--background-dark);
    color: var(--text-primary);
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

a.button {
    min-width: inherit;
    align-content: center;
    border-radius: 5%;
    border-style: solid;
    box-sizing: border-box;
    color: var(--text-secondary);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

a.button:active {
    padding-top: 4px;
}

.btn {
    border-style: solid;
    cursor: pointer;
    border-radius: 5%;
    color: var(--text-secondary);
}

.btn:active {
    padding-top: 4px;
}

.btn--normal {
    height: 2.5vh;
}

.btn--tall {
    height: 5vh;
}

.btn--short {
    height: 1.25vh;
}

.btn--red {
    background-color: var(--red-medium);
    border-color:
        var(--red-light) var(--red-dark) var(--red-dark) var(--red-light);
}

.btn--red:hover {
    background-color: var(--red-light);
    border-color:
        var(--red-light) var(--red-dark) var(--red-dark) var(--red-light);
}

.btn--red:active {
    background-color: var(--red-medium);
    border-color:
        var(--red-dark) var(--red-light) var(--red-light) var(--red-dark);
}

.btn--green {
    background-color: var(--green-medium);
    border-color:
        var(--green-light) var(--green-dark) var(--green-dark) var(--green-light);
}

.btn--green:hover {
    background-color: var(--green-light);
    border-color:
        var(--green-light) var(--green-dark) var(--green-dark) var(--green-light);
}

.btn--green:active {
    background-color: var(--green-medium);
    border-color:
        var(--green-dark) var(--green-light) var(--green-light) var(--green-dark);
}

.btn--blue {
    background-color: var(--blue-medium);
    border-color:
        var(--blue-light) var(--blue-dark) var(--blue-dark) var(--blue-light);
}

.btn--blue:hover {
    background-color: var(--blue-light);
    border-color:
        var(--blue-light) var(--blue-dark) var(--blue-dark) var(--blue-light);
}

.btn--blue:active {
    background-color: var(--blue-medium);
    border-color:
        var(--blue-dark) var(--blue-light) var(--blue-light) var(--blue-dark);
}

.btn--gray {
    background-color: var(--gray-medium);
    border-color:
        var(--gray-light) var(--gray-dark) var(--gray-dark) var(--gray-light);
}

.btn--gray:hover {
    background-color: var(--gray-light);
    border-color:
        var(--gray-light) var(--gray-dark) var(--gray-dark) var(--gray-light);
}

.btn--gray:active {
    background-color: var(--gray-medium);
    border-color:
        var(--gray-dark) var(--gray-light) var(--gray-light) var(--gray-dark);
}

.root {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
}

.navbar {
    grid-template-columns: 2fr 3fr 1fr 1fr;
    grid-column: 2 / 10;
    grid-row: 1 / 2;
    margin: 10px;
    height: 5vh;
}

.navbar__navigation-links {
    grid-template-columns: repeat(4, 1fr);
}

.navbar__search {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.navbar__search__input {
    width: 90%;
    height: 80%;
    margin-left: 5%;
}

.navbar__search__results {
    background-color: var(--background-light);
    border-style: solid;
    border-width: medium;
    grid-template-columns: 1fr;
    padding: 5px;
    z-index: 1;
}

.navbar__search__results--error {
    border-color: var(--icon-warning);
}

.navbar__search__results--info {
    border-color: var(--icon-informationblue);
}

.navbar__search__results--confirm {
    border-color: var(--icon-success);
}

.navbar__search__results:empty {
    display: none;
}

.navbar__light-toggle {
    grid-column: 3 / 4;
}

.navbar__options {
    grid-column: 4 / 5;
}

.filters {
    grid-row: 2 / 3;
    grid-column: 2 / 10;
    margin: 10px;
}

.main-table-container {
    grid-row: 3 / 11;
    grid-column: 2 / 10;
}

.rma-table {
    border: 2px solid var(--gray-dark);
}

.rma-table__header {
    grid-template-columns: repeat(8, 1fr);
    border: 2px solid var(--gray-dark);
}

.rma-table__header__cell {
    border: 2px solid var(--gray-dark);
}

.rma-table__body {
    border: 2px solid var(--gray-dark);
}

.rma-table__body__row {
    grid-template-columns: repeat(8, 1fr);
    border: 2px solid var(--gray-dark);
}

.rma-table__body__row__cell {
    align-content: center;
    border: 2px solid var(--gray-dark);
}

.add-case-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: max-content;
    column-gap: 2vw;
    row-gap: 1vw;
    grid-row: 2 / 10;
    grid-column: 4 / 8;
    max-height: 80vh;
    overflow-y: scroll;
}

.add-case-form__options {
    top: 0;
    position: sticky;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 3;
    background-color: var(--background-light);
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.add-case-form__btns {
    text-align: right;
}

.add-case-form__product-btns {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    grid-auto-rows: max-content;
}

.add-case-form__product {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: max-content;
    column-gap: 2vw;
    row-gap: 1vw;
}

.case-form {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw;
    grid-template-rows: 5vh auto;
    grid-row: 2 / 10;
    grid-column: 2 / 10;
    max-height: 80vh;
    overflow-y: scroll;
}

.case-form .buttons {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2vw;
    grid-template-rows: 1fr;
    grid-row: 1 / 1;
    grid-column: 1 / 4;
}

.case-form .general {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
}

.case-form .customer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2 / 2;
    grid-column: 2 / 3;
}

.case-form .products {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2 / 2;
    grid-column: 3 / 4;
}

.case-form__btns {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row: 1 / 1;
    grid-column: 1 / 9;
}

.case-form__btns__close {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.case-form__btns__dropdown {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.case-form__btns__save {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
}

.case-form__general-info {
    grid-template-columns: 1fr;
    grid-row: 2 / 11;
    grid-column: 1 / 2;
}

.case-form__client {
    grid-row: 2 / 11;
    grid-column: 2 / 5;
}

.case-form__products {
    grid-column: 5 / 8;
    grid-row: 2 / 11;
    height: 80vh;
    overflow: scroll;
}

.log {
    grid-column: 2 / 10;
    grid-row: 2 / 10;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 24fr 7fr;
    z-index: 1;
    background: var(--background-dark);
    border: 2px solid var(--border-primary);
    height: 100%;

    .log__top-bar {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        border: 2px solid var(--border-secondary);
    }

    .log__tags {
        grid-column: 5 / 6;
        grid-row: 2 / 4;
        grid-template-rows: 1fr 1fr 28fr;
        grid-template-columns: 1fr;
        border: 2px solid var(--border-secondary);

        .log__tags__select {
            position: absolute;
            z-index: 1;
            background: var(--background-light);
            grid-row: 1 / 3;
            width: 10vw;
            border: 2px solid var(--border-secondary);
            margin-top: 1vh;
            margin-left: 5vw;
        }
    }

    .log__timeline {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        border: 2px solid var(--border-secondary);
        overflow-wrap: break-word;
        overflow-y: scroll;

        .log__log__entry__legend--comment {
            grid-template-columns: 4fr 1fr;
        }
    }

    .log__comment {
        grid-row: 3 / 4;
        grid-column: 1 / 5;
        border: 2px solid var(--border-secondary);

        .log__comment__form {
            grid-template-columns: 1fr 5fr;
            grid-template-rows: 7fr 1fr;
        }

        .log__comment__form__textarea {
            resize: none;
            grid-row: 1 / 2;
            grid-column: 1 / 3;
        }

        .log__comment__form__add-button {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
    }
}

.settings-page {
    grid-row: 2 / 10;
    grid-column: 2 / 10;
}

.settings-page__form {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw;
    grid-template-rows: 5vh auto;
    grid-column: 2 / 6;
    max-height: 80vh;
    overflow-y: scroll;
}

.dropdown {
    position: relative;
}

.dropdown__btn {
    height: 100%;
    width: 100%;
}

.dropdown__menu {
    position: absolute;
    display: none;
    width: 100%;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.text--align-center {
    text-align: center;
}

.text--align-right {
    text-align: right;
}

.grid {
    display: grid;
}

.grid--rows-auto {
    grid-template-rows: auto;
}

.flex {
    display: flex;
}

.flex--align-items-center {
    align-items: center;
}

.flex--justify-content-center {
    justify-content: center;
}

.block {
    display: block;
}

.tag {
    background-color: var(--background-dark);
    border: solid 1px;
    border-radius: 15%;
    padding: 5px;
    margin: 5px;
    width: max-content;
    cursor: pointer;
}

.tag:hover {
    border: solid 2px;
}

.changed-input {
    background: var(--icon-warning);
    border: 1px solid var(--icon-warning);
    color: var(--background-dark);
}

.shadow {
    box-shadow: 5px 5px 10px black;
}